@* @model List<TestADWebAPI.Models.ADGroupModel> *@
@model TestADWebAPI.Models.ADGroupModel

@{
    ViewBag.Title = "Active Directory Details";
}
<h2>@Model.Name</h2>

@* @foreach (var adInfo in Model) {
    <div>
        Item: @adInfo.Item.ToString() &nbsp; &nbsp; Name: @adInfo.Name &nbsp; &nbsp; Sid: @adInfo.Sid
    </div> *@
}

